.vocabularyContainer .vocBody .vocTop {
  /* margin-bottom: 3vw; */
}
.vocabularyContainer .vocBody .vocTop .lSide {
  float: left;
  width: 30%;
}
.vocabularyContainer .vocBody .vocTop .rSide {
  float: right;
  width: 70%;
  /* border-left: grey 1px solid;
  border-bottom: grey 1px solid; */
}

.vocabularyContainer .vocBody .vocMid {
  margin-bottom: 16vw;
}
.vocabularyContainer .vocMid .lSide {
  float: left;
  width: 30%;
  /* border-bottom: grey 1px solid; */
}
.vocabularyContainer .vocMid .rSide {
  float: right;
  width: 70%;
  /* border-left: grey 1px solid;
  border-bottom: grey 1px solid; */
}

.vocabularyContainer .vocBody .vocBottom {
  /* border-bottom: grey 1px solid; */
}
.vocabularyContainer .vocBottom .lSide {
  float: left;
  width: 30%;
}
.vocabularyContainer .vocBottom .rSide {
  float: right;
  width: 70%;
  border-left: grey 1px solid;
}
