.navbar .navbar-toggler-icon {
  color: white !important;
}
.navbar {
  /* background-color: linear-gradient(to left, rgb(27, 28, 14), rgb(135, 143, 31)) !important;  */
  background-color: rgba(0, 46, 102, 0.8);
  color: white;
}
.navbar-transparent {
  background-color: transparent !important;
}
.navbar a > h2 {
  color: white;
}
.navbar a > h2:hover {
  color: white;
  opacity: 0.8;
  background-color: transparent;
}
@media only screen and (max-width: 600px) {
  .navbar a > h2 {
    font-size: 25px;
  }
}

.navbar .nav2Content {
  margin-left: 350%;
}
